{% assign content = site.data.content['clients'] %}

<section class="gap" style="background-color:#f2edf5;">
  <div class="container">
    <div class="our-clients">
      <h2>{{ content.title | safeHTML }}</h2>
      <span>{{ content.subtitle | safeHTML }}</span>
      <div class="row">
        {% for item in content.items %}
        <div class="p-5 col-md-3 col-lg-2"><img alt="{{ .alt }}" src="{{ item.image | absolute_url }}" title="{{ item.title }}"></div>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="btugap">
    <a href="{{ content.link }}" class="themebtu" target="_blank">{{ content.button }}</a>
  </div>
</section>